<p id="notice"><%= notice %></p>

<h1>Travel Agents</h1>

<% @agents.each do |agent| %>
  <li><%= link_to "#{agent.name}", agent %>
    <% if current_user %>
      <%= link_to 'Destroy', agent, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </li>
<% end %>

<br></br>

<%= link_to "Add New Agent", new_agent_path %>
