<p id="notice"><%= notice %></p>

<%= @agent.name %>

<p>See More Details about:</p>
<% @agent.destinations.each do |destination| %>
  <li><%= link_to "#{destination.location}", destination %></li>
<% end %>

<br></br>

<%= link_to 'Back', agents_path %>
